[Unit]
Description=Poll email service for account %i

[Service]
Type=oneshot
ExecStart=%h/.local/bin/sync-email %i pull
TimeoutStopSec=120

[Install]
WantedBy=default.target
